<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
	   <add id="Sunsand_Affiliate::affiliate" title="Affiliate Members" module="Sunsand_Affiliate" sortOrder="51" action="affiliate/affiliate" resource="Sunsand_Affiliate::affiliate" parent="Magento_CatalogRule::promo"/>
    </menu>
</config>